
/* GLOBAL RESETS */
* { box-sizing: border-box; }

// VARIABLES
$color-text-body: rgba(0,0,0,.8);
$color-text-body-light: rgba(255,255,255,.8);
$color-text-headings: rgba(0,0,0,1);
$color-text-headings-light: rgba(255,255,255,1);
$color-accent: rgba(255,187,0);
$color-accent-dark: rgb(10, 6, 90);
$color-accent-light: rgb(202, 202, 255);
$color-link: rgb(61, 90, 255);
$color-link-dark: rgb(19, 41, 165);
$color-link-darker: rgb(19, 41, 15);


$color-lightgrey: rgba(0,0,0,.5);

$font-family-sans: 'acumin-pro', Arial, Helvetica, sans-serif;
$font-family-serif: 'kepler-std-display', Georgia, 'Times New Roman', Times, serif;

//BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORT
@import "partials/toc";
@import "partials/typography";
@import "partials/helpers";
@import "partials/buttons";
@import "partials/media"; 
@import "partials/layout"; 
@import "partials/grid";
@import "partials/structure";
@import "partials/sitenav";
@import "partials/animations";



 